In [1]:
# Created By Rupesh Basnet
# Testing out some pre-existing resources for pre-processing the tweets for WITBragDay as a framework for other 
# past events

In [3]:
import csv
import nltk
import pandas as pd

In [7]:
data = pd.read_csv("WITBragDay.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [8]:
# Viewing the top 5 data
data.head(5)

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Thu Aug 17 23:46:00 +0000 2017,WITBragDay,NaN,NaN,0,898330098876661760,NaN,NaN,NaN,...,5277,1006,509,San Francisco,Carina C. Zona,cczona,69411,NaN,http://patreon.com/cczona,false
1,NaN,Sun Aug 13 08:31:30 +0000 2017,NaN,NaN,NaN,0,896650407942008832,NaN,NaN,NaN,...,168,341,2,NaN,lowkey‚ò†Ô∏è,pahareya,12512,NaN,NaN,false
2,NaN,Thu Aug 17 22:12:33 +0000 2017,NaN,NaN,NaN,0,898306582819160064,NaN,NaN,NaN,...,296,740,7,"London, England",ash,ashiesdollparts,18869,NaN,https://Instagram.com/ashiesdollparts,false
3,NaN,Thu Aug 17 23:23:29 +0000 2017,WITBragDay,NaN,NaN,0,898324433001103361,NaN,NaN,NaN,...,1499,607,83,NaN,Peter Barfuss íÄ±,bofh453,55620,NaN,NaN,false
4,NaN,Thu Aug 17 21:52:20 +0000 2017,NaN,NaN,NaN,0,898301492423081984,NaN,NaN,NaN,...,3331,1729,60,"London, England",Kimberly M,kimpmurrell,7582,NaN,NaN,false

In [9]:
clean_data = data.filter(items = ["created_at","hashtags","text","favorite_count","lang","place","geo","user_location","retweet_count"])

In [14]:
clean_data.head(5)

,created_at,hashtags,text,favorite_count,lang,place,user_location,retweet_count
0,Thu Aug 17 23:46:00 +0000 2017,WITBragDay,RT @alicegoldfuss: So happy to hear women gett...,0,en,NaN,San Francisco,25
1,Sun Aug 13 08:31:30 +0000 2017,NaN,RT @jewree: Every time you write email in Gmai...,0,en,NaN,NaN,8475
2,Thu Aug 17 22:12:33 +0000 2017,NaN,RT @jewree: Every time you write email in Gmai...,0,en,NaN,"London, England",8475
3,Thu Aug 17 23:23:29 +0000 2017,WITBragDay,RT @alicegoldfuss: Recruiters should definitel...,0,en,NaN,NaN,76
4,Thu Aug 17 21:52:20 +0000 2017,NaN,RT @jewree: Every time you write email in Gmai...,0,en,NaN,"London, England",8475

In [15]:
df = clean_data

In [17]:
df.columns

Index([u'created_at', u'hashtags', u'text', u'favorite_count', u'lang',
       u'place', u'user_location', u'retweet_count'],
      dtype='object')

In [19]:
df.dtypes

created_at        object
hashtags          object
text              object
favorite_count    object
lang              object
place             object
user_location     object
retweet_count     object
dtype: object

In [24]:
# We will have to convert the object created_at into a datetime for now
test = pd.to_datetime('Thu Aug 17 23:46:00 +0000 2017', format='%a %b %d %H:%M:%S +0000 %Y')
# Still kept the original created_at date for later modification
df['date'] = pd.to_datetime(df['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')

In [26]:
df.dtypes

created_at                object
hashtags                  object
text                      object
favorite_count            object
lang                      object
place                     object
user_location             object
retweet_count             object
date              datetime64[ns]
dtype: object

In [28]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [29]:
df.head(5)

                       created_at    hashtags                                               text favorite_count lang place    user_location retweet_count                date
0  Thu Aug 17 23:46:00 +0000 2017  WITBragDay  RT @alicegoldfuss: So happy to hear women gett...              0   en   NaN    San Francisco            25 2017-08-17 23:46:00
1  Sun Aug 13 08:31:30 +0000 2017         NaN  RT @jewree: Every time you write email in Gmai...              0   en   NaN              NaN          8475 2017-08-13 08:31:30
2  Thu Aug 17 22:12:33 +0000 2017         NaN  RT @jewree: Every time you write email in Gmai...              0   en   NaN  London, England          8475 2017-08-17 22:12:33
3  Thu Aug 17 23:23:29 +0000 2017  WITBragDay  RT @alicegoldfuss: Recruiters should definitel...              0   en   NaN              NaN            76 2017-08-17 23:23:29
4  Thu Aug 17 21:52:20 +0000 2017         NaN  RT @jewree: Every time you write email in Gmai...              0   en   NaN  London, England          8475 2017-08-17 21:52:20

In [36]:
# Changing the settings of pd to view all the tweet's text
pd.set_option('display.max_colwidth', -1)

In [37]:
df.head(5).text

0    RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D
1    RT @jewree: Every time you write email in Gmail, you are using my code. I wrote it 10+ years ago as my first"real" job, not replaced yet.‚Ä¶
2    RT @jewree: Every time you write email in Gmail, you are using my code. I wrote it 10+ years ago as my first"real" job, not replaced yet.‚Ä¶
3    RT @alicegoldfuss: Recruiters should definitely be scrolling through #WITBragDay for their lists. Tons of awesome talent in there.
4    RT @jewree: Every time you write email in Gmail, you are using my code. I wrote it 10+ years ago as my first"real" job, not replaced yet.‚Ä¶
Name: text, dtype: object

In [39]:
#testing tokenization
from nltk.tokenize import word_tokenize
test_tweet = 'RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D'
word_tokenize(test_tweet)
# Note is punkt is not installed just use the terminal to download it

['RT',
 '@',
 'alicegoldfuss',
 ':',
 'So',
 'happy',
 'to',
 'hear',
 'women',
 'getting',
 'recruiter',
 'pings',
 'after',
 '#',
 'WITBragDay',
 ':',
 'D']