In [23]:
# Created By Rupesh Basnet
# Testing out some pre-existing resources for pre-processing the tweets for WITBragDay as a framework for other 
# past events
# coding: utf-8

In [24]:
import csv
import nltk
import pandas as pd

In [34]:
data = pd.read_csv("WITBragDay.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [36]:
# Viewing the top 5 data
data.head(5)
data.columns

Index([u'coordinates', u'created_at', u'hashtags', u'media', u'urls',
       u'favorite_count', u'id', u'in_reply_to_screen_name',
       u'in_reply_to_status_id', u'in_reply_to_user_id', u'lang', u'place',
       u'possibly_sensitive', u'retweet_count', u'reweet_id',
       u'retweet_screen_name', u'source', u'text', u'tweet_url',
       u'user_created_at', u'user_screen_name', u'user_default_profile_image',
       u'user_description', u'user_favourites_count', u'user_followers_count',
       u'user_friends_count', u'user_listed_count', u'user_location',
       u'user_name', u'user_screen_name.1', u'user_statuses_count',
       u'user_time_zone', u'user_urls', u'user_verified'],
      dtype='object')

In [39]:
data.head(5)

  coordinates                      created_at    hashtags media urls favorite_count                  id in_reply_to_screen_name in_reply_to_status_id in_reply_to_user_id lang place possibly_sensitive retweet_count           reweet_id retweet_screen_name                                             source                                               text                                          tweet_url                 user_created_at user_screen_name user_default_profile_image                                   user_description user_favourites_count user_followers_count user_friends_count user_listed_count    user_location         user_name user_screen_name.1 user_statuses_count user_time_zone                              user_urls user_verified
0         NaN  Thu Aug 17 23:46:00 +0000 2017  WITBragDay   NaN  NaN              0  898330098876661760                     NaN                   NaN                 NaN   en   NaN                NaN            25  898323470336970754       alicegoldfuss  <a href="http://twitter.com/download/android" ...  RT @alicegoldfuss: So happy to hear women gett...  https://twitter.com/cczona/status/898330098876...  Tue May 12 22:43:16 +0000 2009           cczona                      false  Dev advocate, speaker, educator. @CallbackWome...                  9223                 5277               1006               509    San Francisco    Carina C. Zona             cczona               69411            NaN              http://patreon.com/cczona         false
1         NaN  Sun Aug 13 08:31:30 +0000 2017         NaN   NaN  NaN              0  896650407942008832                     NaN                   NaN                 NaN   en   NaN                NaN          8475  896220601089613825              jewree  <a href="http://twitter.com/download/android" ...  RT @jewree: Every time you write email in Gmai...  https://twitter.com/pahareya/status/8966504079...  Wed Dec 01 15:45:12 +0000 2010         pahareya                      false                                                NaN                  6322                  168                341                 2              NaN          lowkey‚ò†Ô∏è           pahareya               12512            NaN                                    NaN         false
2         NaN  Thu Aug 17 22:12:33 +0000 2017         NaN   NaN  NaN              0  898306582819160064                     NaN                   NaN                 NaN   en   NaN                NaN          8475  896220601089613825              jewree  <a href="http://twitter.com/download/iphone" r...  RT @jewree: Every time you write email in Gmai...  https://twitter.com/ashiesdollparts/status/898...  Sat Feb 13 17:51:21 +0000 2010  ashiesdollparts                      false                       watching you üçí they/them üçí                  8545                  296                740                 7  London, England               ash    ashiesdollparts               18869            NaN  https://Instagram.com/ashiesdollparts         false
3         NaN  Thu Aug 17 23:23:29 +0000 2017  WITBragDay   NaN  NaN              0  898324433001103361                     NaN                   NaN                 NaN   en   NaN                NaN            76  898324083523305472       alicegoldfuss  <a href="https://mobile.twitter.com" rel="nofo...  RT @alicegoldfuss: Recruiters should definitel...  https://twitter.com/bofh453/status/89832443300...  Mon May 13 07:44:22 +0000 2013          bofh453                      false  I largely tweet about: bad code, audio, numeri...                112023                 1499                607                83              NaN  Peter Barfuss íÄ±            bofh453               55620            NaN                                    NaN         false
4         NaN  Thu Aug 17 21:52:20 +0000 2017         NaN   NaN  NaN              0  898301492423081984                     NaN                   NaN                 NaN   en   NaN                NaN          8475  896220601089613825              jewree  <a href="http://twitter.com/download/iphone" r...  RT @jewree: Every time you write email in Gmai...  https://twitter.com/kimpmurrell/status/8983014...  Mon Feb 09 16:46:25 +0000 2009      kimpmurrell                      false   Talking gender equality, health policy and memes                  4549                 3331               1729                60  London, England        Kimberly M        kimpmurrell                7582            NaN                                    NaN         false

In [40]:
non_retweet = data[data['retweet_screen_name'].isnull()]

In [45]:
non_retweet.shape

(4409, 34)

In [43]:
data.shape
# It looks like alot of the tweets were retweets which would distort the data

(29512, 34)

In [47]:
clean_data = non_retweet.filter(items = ["created_at","hashtags","text","favorite_count","lang","place","geo","user_location","retweet_count", "retweet_screen_name"])

In [50]:
clean_data.head(5)

                        created_at          hashtags                                               text favorite_count lang place             user_location retweet_count retweet_screen_name
8   Sun Aug 13 08:32:29 +0000 2017  women WITBragDay  3 degrees in building industry and they reject...              9   en   NaN           Wroclaw, Poland             2                 NaN
13  Thu Aug 17 23:34:25 +0000 2017        WITBragDay  @azimman @LaunchDarkly sounds like you should ...              1   en   NaN            /usr/local/sin             0                 NaN
16  Thu Aug 17 22:15:48 +0000 2017        WITBragDay  My coding knowledge makes a difference and imp...              6   en   NaN            Zionsville, IN             2                 NaN
44  Thu Aug 17 23:25:01 +0000 2017        WITBragDay  Built a ECS JSON-generating container definiti...              3   en   NaN  Wellington, New Zealand              2                 NaN
46  Thu Aug 17 23:22:06 +0000 2017        WITBragDay  Recruiters should definitely be scrolling thro...            203   en   NaN            /usr/local/sin            76                 NaN

In [51]:
df = clean_data

In [52]:
df.columns

Index([u'created_at', u'hashtags', u'text', u'favorite_count', u'lang', u'place', u'user_location', u'retweet_count', u'retweet_screen_name'], dtype='object')

In [53]:
df.dtypes

created_at             object
hashtags               object
text                   object
favorite_count         object
lang                   object
place                  object
user_location          object
retweet_count          object
retweet_screen_name    object
dtype: object

In [54]:
# We will have to convert the object created_at into a datetime for now
test = pd.to_datetime('Thu Aug 17 23:46:00 +0000 2017', format='%a %b %d %H:%M:%S +0000 %Y')
# Still kept the original created_at date for later modification
df['date'] = pd.to_datetime(df['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')

In [55]:
df.dtypes

created_at                     object
hashtags                       object
text                           object
favorite_count                 object
lang                           object
place                          object
user_location                  object
retweet_count                  object
retweet_screen_name            object
date                   datetime64[ns]
dtype: object

In [56]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [57]:
df.head(5)

                        created_at          hashtags                                               text favorite_count lang place             user_location retweet_count retweet_screen_name                date
8   Sun Aug 13 08:32:29 +0000 2017  women WITBragDay  3 degrees in building industry and they reject...              9   en   NaN           Wroclaw, Poland             2                 NaN 2017-08-13 08:32:29
13  Thu Aug 17 23:34:25 +0000 2017        WITBragDay  @azimman @LaunchDarkly sounds like you should ...              1   en   NaN            /usr/local/sin             0                 NaN 2017-08-17 23:34:25
16  Thu Aug 17 22:15:48 +0000 2017        WITBragDay  My coding knowledge makes a difference and imp...              6   en   NaN            Zionsville, IN             2                 NaN 2017-08-17 22:15:48
44  Thu Aug 17 23:25:01 +0000 2017        WITBragDay  Built a ECS JSON-generating container definiti...              3   en   NaN  Wellington, New Zealand              2                 NaN 2017-08-17 23:25:01
46  Thu Aug 17 23:22:06 +0000 2017        WITBragDay  Recruiters should definitely be scrolling thro...            203   en   NaN            /usr/local/sin            76                 NaN 2017-08-17 23:22:06

In [58]:
# Changing the settings of pd to view all the tweet's text
pd.set_option('display.max_colwidth', -1)

In [59]:
df.head(5).text

8     3 degrees in building industry and they rejected me because #women. IT industry welcomed me with open arms. Not a single regret #WITBragDay
13    @azimman @LaunchDarkly sounds like you should look at the #WITBragDay tag :P
16    My coding knowledge makes a difference and improves the lives of my coworkers and our customers. And it's the coolest feeling. #WITBragDay
44    Built a ECS JSON-generating container definition module entirely in Terraform, because why would you not. #WITBragDay
46    Recruiters should definitely be scrolling through #WITBragDay for their lists. Tons of awesome talent in there.
Name: text, dtype: object

In [60]:
df.to_csv('WITBrag_Clean_Noretweets.csv')

In [61]:
df = pd.read_csv("WITBrag_Clean_Noretweets.csv", sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [62]:
#testing tokenization
from nltk.tokenize import word_tokenize
test_tweet = 'RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D'
word_tokenize(test_tweet)
# Note is punkt is not installed just use the terminal to download it

['RT',
 '@',
 'alicegoldfuss',
 ':',
 'So',
 'happy',
 'to',
 'hear',
 'women',
 'getting',
 'recruiter',
 'pings',
 'after',
 '#',
 'WITBragDay',
 ':',
 'D']

In [63]:
# Emojis and mentions and hashtags are being tokenized
# Taken from a blog https://marcobonzanini.com/2015/03/09/mining-twitter-data-with-python-part-2/
import re

emoticons_str = r"""
    (?:
        [:=;] # Eyes
        [oO\-]? # Nose (optional)
        [D\)\]\(\]/\\OpP] # Mouth
    )"""
 
regex_str = [
    emoticons_str,
    r'<[^>]+>', # HTML tags
    r'(?:@[\w_]+)', # @-mentions
    r"(?:\#+[\w_]+[\w\'_\-]*[\w_]+)", # hash-tags
    r'http[s]?://(?:[a-z]|[0-9]|[$-_@.&amp;+]|[!*\(\),]|(?:%[0-9a-f][0-9a-f]))+', # URLs
 
    r'(?:(?:\d+,?)+(?:\.?\d+)?)', # numbers
    r"(?:[a-z][a-z'\-_]+[a-z])", # words with - and '
    r'(?:[\w_]+)', # other words
    r'(?:\S)' # anything else
]
    
tokens_re = re.compile(r'('+'|'.join(regex_str)+')', re.VERBOSE | re.IGNORECASE)
emoticon_re = re.compile(r'^'+emoticons_str+'$', re.VERBOSE | re.IGNORECASE)
 
def tokenize(s):
    return tokens_re.findall(s)
 
def preprocess(s, lowercase=False):
    tokens = tokenize(s)
    if lowercase:
        tokens = [token if emoticon_re.search(token) else token.lower() for token in tokens]
    return tokens

test_tweet = 'RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D'
print (preprocess(test_tweet))

['RT', '@alicegoldfuss', ':', 'So', 'happy', 'to', 'hear', 'women', 'getting', 'recruiter', 'pings', 'after', '#WITBragDay', ':D']

In [64]:
# Removing all stop words
from nltk.corpus import stopwords
import string

punctuation = list(string.punctuation)
stop = stopwords.words('english') + punctuation + ['rt', 'via']

In [65]:
import operator 
from collections import Counter

terms_all = [term for term in preprocess('RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D')]
terms_stop = [term for term in preprocess('RT @alicegoldfuss: So happy to hear women getting recruiter pings after #WITBragDay :D') if term not in stop]

In [66]:
terms_all

['RT',
 '@alicegoldfuss',
 ':',
 'So',
 'happy',
 'to',
 'hear',
 'women',
 'getting',
 'recruiter',
 'pings',
 'after',
 '#WITBragDay',
 ':D']

In [67]:
terms_stop

['RT',
 '@alicegoldfuss',
 'So',
 'happy',
 'hear',
 'women',
 'getting',
 'recruiter',
 'pings',
 '#WITBragDay',
 ':D']

In [68]:
count_all = Counter()
for index, row in df.iterrows():     
    terms_all = [term for term in preprocess(row['text'])]
    # Update the counter
    count_all.update(terms_all)
print(count_all.most_common(5))

[('.', 2977), ('#WITBragDay', 2530), ('\x9f', 2158), ('\xf0', 2141), ('!', 1537)]

In [99]:
count_all = Counter()
for index, row in df.iterrows():     
    terms_stop = [term for term in preprocess(row['text']) if term not in stop and not term.startswith(r"\x")]
    # Update the counter
    count_all.update(terms_stop)
print(count_all.most_common(5))

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  This is separate from the ipykernel package so we can avoid doing imports until

[('#WITBragDay', 2530), ('\x9f', 2158), ('\xf0', 2141), ('I', 1289), ('\x8f', 840)]

In [72]:
dfr = pd.DataFrame.from_dict(count_all, orient='index')

In [80]:
test = Counter(el for el in count_all.items() if count_all[el] >= 2000)

In [82]:
count_all['code']

179

In [100]:
dic = dict(count_all)
new_dc = dict((k, v) for k, v in dic.items() if not k.startswith(r'\x'))

In [101]:
count_all_clean = Counter(new_dc)

In [103]:
for k in dic.keys():
  if k.startswith(r'\x'):
    dic.pop(k)

In [104]:
count_all_clean = Counter(dic)

In [105]:
count_all_clean.most_common(5)

[('#WITBragDay', 2530),
 ('\x9f', 2158),
 ('\xf0', 2141),
 ('I', 1289),
 ('\x8f', 840)]